.btn {
  transition: all 0.3s ease-out;
}

.btn:hover {
  transition: all 0.4s ease-in-out;
  background: black;
}

.btn:hover > a {
  background: var(--gradiente-button);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* animacion categorias*/

.categoria-div a:hover {
  width: 50px;
  transition-property: all;
  transition-duration: 0.3s;
}
