@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

:root {
  --background: #131415;
  --color-cajas: #252525;
  --colores-iconos: #ffa400;
  --gradiente-button: linear-gradient(
    90deg,
    rgba(255, 161, 0, 1) 20%,  
    rgba(251, 16, 61, 1) 95%
  );
  --gradiente-precios: linear-gradient(
    90deg,
    rgba(255, 161, 0, 1) 0%,
    rgba(251, 16, 61, 1) 40%
  );
  --text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  list-style-type: none;
  text-decoration: none;
}

body {
  background: var(--background);
}

header{
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 75px;
  margin-top: 20px;
  margin-left: 35px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

nav a {
  padding-right: 60px;
  font-size: 12px;
  

}

@media (max-width:700px){
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px;
  }

}

footer{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  padding-bottom: 25px;
  
}

footer img{
  height: 20px;
}

.parrafo1{
  display: flex;
  flex: row;
  position: absolute;
  bottom: 100px;
  text-indent: 20pt;
}