@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

:root {
  --background: #131415;
  --color-cajas: #252525;
  --colores-iconos: #ffa400;
  --gradiente-button: linear-gradient(
    90deg,
    rgba(255, 161, 0, 1) 20%,
    rgba(251, 16, 61, 1) 95%
  );
  --gradiente-precios: linear-gradient(
    90deg,
    rgba(255, 161, 0, 1) 0%,
    rgba(251, 16, 61, 1) 40%
  );
  --text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  list-style-type: none;
  text-decoration: none;
}

body {
  background: var(--background);
}
